@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
    margin: 0;
    padding: 0;
    width: 100svw;
    height: 100svh;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    user-select: none;
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5svh 0 5svh 0;
    transition: 0.5s;
}

.input-gr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20svh;
    cursor: pointer;
}

.error-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10svh;
    width: 100%;
}

.error {
    font-size: 2rem;
    color: rgb(245, 63, 63);
}

.mode{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #1293e9;
    border-radius: 11px;
}

.selected {
    background-color: #c9e0f0 !important;
}

.mode-button{
    border: 0;
    background-color: #00000000;
    margin: 0;
    transition: 0.5s;
}

.title-p > span {
    font-size: 1rem;
    color: rgb(255, 148, 18);
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    transition: 0.5s;
}

input {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: calc(50px * 1.68);
    height: 50px;
    outline: none;
    border: 3px solid #1293e9;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    font-size: 30px;
    padding: 0 15px 0 15px;
    user-select: auto;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

label {
    font-size: 1em;
}

button {
    outline: none;
    height: 70px;
    aspect-ratio: 1.41;
    font-size: 30px;
    margin: 0 10px 0 10px;
    border: 2px solid #1293e9;
    border-radius: 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #c9e0f0;
    color: rgb(255, 102, 0);
    cursor: pointer;
    transition: 0.5s;
}

.show{
    transition: 0.2s !important;
}

.show > p{
    transition: 0.2s !important;
}

.result{
    font-size: 100px;
    color: rgb(255, 102, 0);
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > div > p {
    margin: 0;
}

footer > div > a {
    margin-right: 10px;
    color: rgb(60, 60, 60);
}