@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

html {
    height: 100svh;
    width: 100svw;
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;

    box-sizing: border-box;

    user-select: none;
    scrollbar-width: 0;
}

.title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
}

.title > span {
    color: rgb(255, 102, 0);
    font-size: 0.75rem;
}

button {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    border: 2px solid #1293e9;
    border-radius: 10px;
    height: 5vh;
    aspect-ratio: 1.68;
    color: rgb(255, 102, 0);
    background-color: #c9e0f0;
    cursor: pointer;
}

.text {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

#add-button {
    font-size: 1rem;
    height: calc(2rem + 4px);
    aspect-ratio: 1;
    padding: 0;
}

#clear-button {
    height: calc(2rem + 4px);
    aspect-ratio: 1.68;
    padding: 0;
    font-size: 1rem;
    margin: 0 0 0 10px;
}

#create-button {
    height: calc(2rem + 4px);
    width: 8rem;
    padding: 0;
    font-size: 1rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

#seat-input {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: calc(1.5em * 1.68);
    height: 2rem;
    outline: none;
    border: 2px solid #1293e9;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    font-size: 1rem;
    padding: 0 15px 0 15px;
    user-select: auto;

    user-select: auto;
}

#create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25svh;
    transition: 0.3s;
}

.modify-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15svh;
}

.code-text {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(255, 102, 0);
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 3vh 0;
    height: 6vh;
}

.front > p {
    margin: 0;
    padding: 0;
    height: 4vh;
}

.line {
    height: 3px;
    width: 20svw;
    background-color: black;
}

.classroom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seat-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seat {
    background-color: rgb(255, 155, 88);
    max-height: 10svh;
    max-width: 16.8svh !important;
    aspect-ratio: 1.68;
    margin: 5px 5px 5px 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in {
    background-color: rgb(0, 132, 255);
}

.in > p {
    color: antiquewhite !important;
    scale: 0.6;
}

.seat > p {
    margin: 0;
    padding: 0;
    color: rgb(60, 60, 60);
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > div > p {
    margin: 0;
}

footer > div > a {
    margin-right: 10px;
    color: rgb(60, 60, 60);
}
